<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
  <nav class="navbar bg-dark border-bottom border-body  navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid row">
    <div class="col-1">
      <a class="navbar-brand main_color link-light text-light" href="{% url 'all_posts' %}">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse col-11" id="navbarNav">
      <ul class="navbar-nav col-3">
          <li class="nav-item col-3">
            <a class="nav-link main_color link-light active text-light" aria-current="page" href="{% url 'all_posts' %}">Posts</a>
          </li>
      </ul>
        <div class="navbar-nav ms-auto col-9">
           <form method="GET" class="d-flex col-4 " role="search" action="{% url 'search_posts' %}">
            <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search" value="" >
            <button class="btn btn-outline-primary text-light" type="submit">Search</button>
          </form>
          <ul class="navbar-nav col-5">
            {% if request.user.is_authenticated %}
              <li class="nav-item col-3">
                <a class="nav-link main_color link-light text-light" href="{% url 'profile' %}">{{ request.user.username }}</a>
              </li>
               <li class="nav-item col-2">
                <a class="nav-link main_color link-light text-light" href="{% url 'logout' %}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item col-2">
                <a class="nav-link main_color link-light text-light" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item col-3">
                <a class="nav-link main_color link-light text-light" href="{% url 'register' %}">Sign up</a>
              </li>
            {%endif%}
          </ul>
        </div>
    </div>
  </div>
</nav>

</body>
</html>