{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
{% block title_block %}
{% endblock %}

{% block main_block %}
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-3">
            <h2 class="mt-5">Sign Up</h2>
            <form method="POST" >
               {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
      </div>
    </div>
</div>

{% endblock %}

</body>
</html>
